<header>
  <nav class="header-nav">
    <a class="header-title" href="/">List of Homes</a>
    <ul>
      <li><a href="/authors">Home Location</a></li>
      <li><a href="/authors/new">Add Location</a></li>
      <li><a href="/books">Homes</a></li>
      <li><a href="/books/new">Add New Home</a></li>
    </ul>
  </nav>
</header>